.main {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    padding: var(--edge-padding, 4px);

}

.left {
    width: 20%;
    min-width: 40px;
    flex: 0 0 auto;
    height: 100%;
    max-width: 40%;
    --content-direction: column;
    flex: 0 1 auto;
}

.middle {
    flex: 1 0 auto;
    height: 100%;
    width: 80%;
    max-width: 100%;
    --content-direction: column;
}

.right {
    display: none;
    width: 200px;
    height: 100%;
}

.bar {
    min-height: calc(var(--ui-font-size) * 2.4);
    height: var(--fixed-bar-height, auto);
    flex: 0 1 auto;
    max-height: 40%;
    min-width: fit-content;
}

.mini-bar {
    min-height: calc(var(--ui-font-size) * 2.4);
    height: var(--fixed-bar-height, auto);
    min-width: fit-content;
    max-width: 20%;
    flex: 0 1 auto;
}

.editor {
    flex: 1 1;
}

.contextmenu {
    display: none;
    position: absolute;
    width: auto;
    max-width: 300px;
    min-width: calc(var(--ui-font-size) * 10);
    flex-direction: column;
}

.contextmenu > button{
    width: 100%;
}

.window {
    position: absolute;

}

.rect {
    padding: calc(var(--ui-font-size)/4);
    aspect-ratio: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fill-width {
    min-width: 100%;
}

.fill-height {
    height: 100%;
}

.go-right {
    margin-left: auto;
}



