:root {
    --editor-background-color: black;
    --editor-text-color: white;
    --editor-font-family: "Hack";
    --editor-font-size: 16px;
    --gutter-content-color: #545454;
    --gutter-content-color-focused: white;
    --gutter-background-color: black;
    --gutter-background-color-focused: grey;
    --editor-line-spacing: 10px;
    --editor-line-border-width: 1px 0px;
    --editor-line-border-radius: 0;
    --editor-line-border-style: dotted none dotted none;
    --editor-line-border-color: transparent;
    --editor-line-border-color-focused: white;
    --editor-line-text-background-color: transparent;
    --editor-line-text-background-color-focused: #060606;
    --editor-header-background-color: #323232;
    --editor-header-content-color: #ccc;
    --editor-footer-background-color: #323232;
    --editor-footer-content-color: #ccc;
    --editor-tabbar-padding: 0px;
    --editor-tabbar-border-width: 0 0 1px 0;
    --editor-tabbar-border-color: var(--panel-border-color-focused);
    --editor-tabbar-border-style: solid;
    --editor-tabbar-background-color: 0px;
    --editor-tabbar-content-gap: 0px;
    --editor-tabbar-content-padding: 0px;
    --editor-tabbar-margin: 0;
    --editor-tabbar-min-height: 12px;
    --editor-tab-background-color: black;
    --editor-tab-background-color-hover: #242424;
    --editor-tab-background-color-focused: #323232;
    --editor-tab-content-padding: calc(var(--editor-font-size)/2) var(--editor-font-size);
    --editor-tab-content-color: grey;
    --editor-tab-content-color-hover: lightgrey;
    --editor-tab-content-color-focused: white;
    --editor-tab-border-color: transparent white transparent transparent;
    --editor-tab-border-color-hover: white;
    --editor-tab-border-color-focused: white;
    --editor-tab-border-width: 0 1px;
    --editor-tab-border-width-hover: 0 1px;
    --editor-tab-border-width-focused: 0 2px 0 0;
    --editor-tab-border-style: dotted;
    --editor-tab-border-style-hover: solid;
    --editor-tab-border-style-focused: solid;
}

/* * {
    --editor-background-color: white;
    --editor-text-color: black;
    --editor-font-family: "Hack";
    --editor-font-size: 16px;
    --gutter-content-color: #a5a5a5;
    --gutter-content-color-focused: black;
    --gutter-background-color: white;
    --gutter-background-color-focused: grey;
    --editor-line-spacing: 10px;
    --editor-line-border-width: 1px 0px;
    --editor-line-border-radius: 0;
    --editor-line-border-style: dotted none dotted none;
    --editor-line-border-color: transparent;
    --editor-line-border-color-focused: black;
    --editor-line-text-background-color: transparent;
    --editor-line-text-background-color-focused: #fcfcfc;
    --editor-header-background-color: #c4c4c4;
    --editor-header-content-color: black;
    --editor-footer-background-color: #666;
    --editor-footer-content-color: white;
    --editor-tabbar-padding: 0px;
    --editor-tabbar-border-width: 0 0 1px 0;
    --editor-tabbar-border-color: var(--panel-border-color-focused);
    --editor-tabbar-border-style: solid;
    --editor-tabbar-background-color: 0px;
    --editor-tabbar-content-gap: 0px;
    --editor-tabbar-content-padding: 0px;
    --editor-tabbar-margin: 0;
    --editor-tabbar-min-height: 12px;
    --editor-tab-background-color: white;
    --editor-tab-background-color-hover: #ddd;
    --editor-tab-background-color-focused: #aaa;
    --editor-tab-content-padding: calc(var(--editor-font-size)/2) var(--editor-font-size);
    --editor-tab-content-color: grey;
    --editor-tab-content-color-hover: lightgrey;
    --editor-tab-content-color-focused: black;
    --editor-tab-border-color: transparent black transparent transparent;
    --editor-tab-border-color-hover: black;
    --editor-tab-border-color-focused: black;
    --editor-tab-border-width: 0 1px;
    --editor-tab-border-width-hover: 0 1px;
    --editor-tab-border-width-focused: 0 2px 0 0;
    --editor-tab-border-style: dotted;
    --editor-tab-border-style-hover: solid;
    --editor-tab-border-style-focused: solid;

} */
